@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>There are @Model.Count() numbers of restaurants in the database</div>
</div>

<main class="mainContainer">
    <div class="left">
        <ul>
            @foreach (var restaurant in Model)
            {
                <li>@restaurant.Name</li>
            }
        </ul>
    </div>
    <div class="right">
        <ul>
            @foreach (var restaurant in Model)
            {
                <li> @restaurant.Cuisine</li>
            }
        </ul>
    </div>
</main>